---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About s/v Amazona"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 06 2024')}
	heroImage="/amazona.jpeg"
>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. 
	</p>

	<p>
		Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
		tellus. 
	</p>

	<p>
		Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
		suscipit. 
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. 
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. 
	</p>
</Layout>
