---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Atlantic Crossing - 2024</h1>
			<p>
				Welcome to the official website of Sailing Amazona. This is where you can track the latest activities and adventures of Amazona, real or near-real time.  
			</p>
			<p>
				--- GPS Tracking Placeholder ---
			</p>
		</main>
		<Footer />
	</body>
</html>
